doctype html
html
  head
    block head
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet', href='/css/style.css')
      link(rel='shortcut icon', type='image/png', href='/images/favicon.png')
      title #{title} | epta
  body.bg-gray-900.text-white.antialiased
    main
      block content
        h1 This is a placeholder heading
